<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        .container{
            width:500px;
            height:500px;

            border:1px solid #ccc;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="content">
      {{ test }}
      <div class="hd">{{ article.title }}</div>
      <div class="bd">{{ article.content }}</div>
  </div>
</div>
</body>
</html>